/*
  ./src/scss/ieps_framework/modules/_boites.scss
  Module des boites
*/

* {
  box-sizing: border-box;
}


.boite-fixe {
  width: 100%;
  max-width: $boiteFixeDimension;
  margin: auto;
  background: white;
}
